.pinterest-button {
	max-width: 100%;
	display: inline-block;
	position: relative;
	margin: 0.5em auto;
}

.pinterest-button .pin-it {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}

.pinterest-button:hover .pin-it {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.pin-it {
	display: block;
	width: 100px;
	height: 94px;
	background-image: url('../../uploads/2015/10/pinthis.png');
	background-size: 100%;
	z-index: 10;
	top: 1rem;
	left: 1rem;
	position: absolute;
	transition: all 0.35s;
	-moz-opacity: 0.75;
	-webkit-opacity: 0.65;
	opacity: 0.75;
}